@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono-medium.ttf");
}

:root {
    --background: #270b00;
    --red-orange: #ff8500;
    --foreground: #fffffe;
}

body {
    background: var(--background);
    color: var(--red-orange);
    font-family: "Roboto Mono";
    font-size: 20px;
    font-weight: normal;
    animation: body 1s ease-out;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.center #fox {
    max-width: 550px;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.column {
    display: inline-flex;
    margin: auto;
}

#column-1 p {
    max-width: 800px;
}

#column-2 {
    text-align: center;
    flex-flow: column wrap;
}

#column-2 p {
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.buttonLink {
    max-width: 100px ;
    padding: 0.6rem 1rem;
    background-color: #b33500;
    margin: 0.5em 0.2em;
    color: #ffdccd;
    text-decoration: none;
    transition: 0.5s;
}

.buttonLink:hover {
    background-color: #ff7033;
    box-shadow: 0.3em 0.3em #671e00;
}

@keyframes body {
    0% {opacity: 0; margin-top: 50px;}
    100% {opacity: 1; margin-top: 8px;}
}
